<h2>Events</h2>
<!-- <ul class="heroes">
    <li>
        Event Type <span class="badge">Count</span>
    </li>

    <li *ngFor="let event of events" (click)="onSelect(event)" [class.selected]="event === selectedHero">
        {{event._id}} <span class="badge">{{event.count}}</span>
    </li>
</ul> -->

<table mat-table [dataSource]="events" class="mat-elevation-z8">
    <!-- Type Column -->
    <ng-container matColumnDef="_id">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>

    <!-- Count Column -->
    <ng-container matColumnDef="count">
        <th mat-header-cell *matHeaderCellDef> count </th>
        <td mat-cell *matCellDef="let element"> {{element.count}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="['_id', 'count']"></tr>
    <tr mat-row *matRowDef="let row; columns: ['_id', 'count'];"></tr>
</table>

<app-event-detail [event]="selectedEvent"></app-event-detail>